
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python cache and compiled files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Django secret and settings (if using local overrides)
.env
*.env
/config/settings/local.py
/config/settings/.local/

# # SQLite database (if applicable)
# db.sqlite3
# *.sqlite3


# VS Code settings
.vscode/
*.code-workspace

# JetBrains (PyCharm, etc.)
.idea/

# Ignore Docker files if using containers
docker-compose.override.yml
docker-compose.override.yaml
.dockerignore

# AWS credentials and config (ensure security)
.aws/
*.pem

# Static and media files (recommended to store in S3)
staticfiles/
media/

# Logs and temp files
logs/
*.log
*.out
*.err
nohup.out